body {
    height: 1200px;
    width: 100%;
    background-color: black;
    color:aliceblue;

}
.container {
    background-color: black;
    height: 1000px;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid aliceblue;
}
.head {
    height: 100px;
    font-size: 48px;
    color: aliceblue;
    text-align: center;
    padding-top: 20px;
}
.Question {
    height: 100px;
    width: 100%;

}
.flex1 {
    display: flex;
    height: 70px;
    width: 100%;
    flex-direction: row;

}
.left {
    flex: 1;
    width: 250px;
    height: 70px;
    padding-left: 20px;
    padding-top: 10px;

}
.left input {
    height: 20px;
    width: 200px;
}
.right {
    flex: 1;
    width: 50%;
    height: 70px;
    width: 150px;
    padding-left: 20px;
    padding-top: 10px;
}
.right input {
    height: 20px;
    width: 200px;
}
.flex2 {
    width: 400px;
    height: 70px;
    display: flex;
    flex-direction: row;
}
.m {
    flex:1;
    width: 25%;
    height: 70px;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 22px;
}
.f {
    flex: 1;
    height: 70px;
    width: 75%;
    padding-top: 20px;
    font-size: 22px;
}

.add {
    padding-top: 20px;
    padding-left: 20px;
}
.pin {
    padding-left: 20px;
    padding-top: 20px;
}
.age {
    padding-left: 20px;
    padding-top: 20px;
}
.house {
    padding-left: 20px;
    padding-top: 20px;
    font-size: 20px;
}
.but {
    padding-left: 20px;
    padding-bottom: 40px;
}
.sub {
    padding-top: 20px;
    padding-left: 20px;
    font-size: 20px;
}
.but .btn {
    height: 40px;
}
